# Environments
venv/
env/
.env
.venv/
env.bak/
venv.bak/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# HuggingFace / Models
*.safetensors
*.bin
*.h5
*.ckpt
*.pt
*.msgpack
.cache/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specific
test_res.json
test_res2.json
